@import "tailwindcss";

.roboto-condensed {
  font-family: "Roboto Condensed";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.robotoMedium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-10{ font-size: 10px;}
.text-15{ font-size: 15px; }
.text-18{ font-size: 18px; }
.text-20{ font-size: 20px;}
.text-25{ font-size: 25px; }
.text-30{ font-size: 30px;}
.text-35{ font-size: 35px; }
.text-40{ font-size: 40px;}
.text-45{ font-size: 45px; }

.raleway-slider {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-Light {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}